.circle-bg {
  width: 170px;
  height: 170px;
  overflow: hidden;
  border: 5px solid #057709; ;
    /* màu viền và độ dày */
  background: linear-gradient(to bottom right, #068212, #dffa85);
  /* giữ ảnh không vượt ra ngoài */
}

.circle-img {
  width: 120%;
  height: 120%;
  object-fit: cover;
  /* ảnh lấp đầy vòng tròn */
}

.products-container {
  background: linear-gradient(180deg, #d0eb6d 0%, #40af32 100%);
  padding: 50px 0;
  border-radius: 20px;
}

a {
  text-decoration: none;
}